//-params
- var date = new Date().getTime();
//-
- var tel = '021-62329136';
- var email = 'dengjh@ehomesoft.com';
- var website = 'www.ehomesoft.com';
//-html
doctype
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        //-meta
        include source/meta
        //-title
        title 云制衣
        //-style
        include source/style
    body
        //-stage
        #stage
            //-guide
            #guide.area
                .inner
                    .l
                        a#logo(href="http://#{website}")
                    .r
                        a(href="#advantage") 产品优势
                        a(href="#special") 技术特点
                        a(href="#project") 典型案例
                        a(href="#contact") 联系我们
                        span.clearfix
            //-header
            #header.area
                .inner
                    //-tel
                    h1#tel 咨询热线：#{tel}
            //-
            #area-desc.area
                .bg
                    div
                .inner
                    i.icon-down
                    h1.title 云上制衣厂
                    p.border
                    p.desc 依靠先进的制衣厂管理理念和强大的技术积累，云制衣通过云计算和商业智能分析技术，为中小型制衣企业提供更易用更经济的ERP解决方案，帮助传统制衣工厂提升效益和管理水平，探索基于互联网技术的制衣厂管理和生产模式，打破工厂物理疆界，构建【云上制衣厂】。
            //-
            #area-sp.area
                .inner
                    h1.title 制衣业的特点
                    p.border
                    p.hint 服装制造行业和其它制造行业相比有很多独特之处
                    i.icon-down
            //-
            #advantage.area
                .inner
                    h1.title 产品优势
                    p.hint Our Advantages
                    p.border
                    .item
                        p.a 团队强大
                        p.b 我们拥有制衣行业经验最丰富的顾问团队，团队人员在制衣行业有超过十年经验，能够根据你的需求，制定最适合的实施方案，实现制衣厂管理变革和促进流程管理标准化。
                    .item.f
                        p.a 操作简便
                        p.b 我们充分了解制衣行业从业人员的特点，为此我们特别制定了全新的用户体验，确保系统操作人员在零基础的情况下快速上手。
                    .item
                        p.a 标准流程
                        p.b 我们的产品设计体现了目前中国最优秀的制衣企业的管理思路和实践经验，实施过程中可以借鉴这些标准经验，改进目前的企业业务流程。
            //-
            #special.area
                .inner
                    h1.title 技术特点
                    p.hint Technical Features
                    p.border
                    i.icon-down
            //-
            #project.area
                .bg
                    div
                .inner
                    h1.title 典型案例
                    p.hint Typical Projects
                    p.border
            //-
            #area-detail.area
                .inner
                    #item-a.item
                        .logo
                        p.content 地处江南服装外贸第一镇——祝塘镇，东临上海，南依无锡，临近沪宁、锡澄、沿江高速，交通便捷，地理位置优越。公司占地50000平方米，建筑面积47000平方米，固定资产2亿多元，年生产针织服装1500万件，年销售超过5亿元，是江苏地区最大的针织服装企业之一。
                        p.icon-hint
                    #item-b.item
                        .logo
                        p.content 上海纺织控股（集团）公司紧紧围绕“科技与时尚”的发展理念，坚定地走高端纺织之路，重点发展科技纺织、绿色纺织、品牌纺织、时尚纺织，实现由传统制造业向制造业后续服务价值链的延伸，努力打造与上海国际大都市相匹配的现代纺织服务业。
                        p.icon-hint
                    #item-c.item
                        .logo
                        p.content 龙头股份拥有在国内市场享有盛誉的“三枪”、“菊花”、“海螺”、“民光”、“凤凰”、“钟414”和“皇后”等知名品牌；拥有针织、装饰两大研究所；掌控着6000多个营销网点组成的庞大内销网络。内衣营销网络被摩根斯坦利评估为“中国内衣市场最完善的营销渠道”。
                        p.icon-hint
                    #item-d.item
                        .logo
                        p.content 以纯以实体企业自有工厂，结合快速的物流链，能做到真正的快速反应，在处理库存、换季抢时机等方面具有优势。在服饰行业，崇尚“轻资产，重品牌”模式的今天，还能重视生产及质量的品牌，坚持做产业链的企业，并不多见！
                        p.icon-hint
                    #item-e.item
                        .logo
                        p.content 红豆以创民族品牌为己任，大力推进品牌建设，实现转型升级，并进行产业升级及竞争力升级。企业的产品也从最初的针织内衣，发展到服装、橡胶轮胎、生物制药、地产四大领域，经济总量居中国民营企业500强第45位。
                        p.icon-hint
                    #item-f.item
                        .logo
                        p.content 虎豹集团坚持走大投入，大技改之路，引进50多条国际一流的现代化生产流水线、意大利立体整烫设备、法国全自动CAD/CMD电脑服装设计裁剪系统，年产各类服装1400多万件套。主导产品“虎豹”牌衬衫、西服双双荣获“中国名牌产品”和“国家免检产品”。牌奠定了坚实的基础。
                        p.icon-hint
                    span.clearfix
            //-
            #contact.area
                .inner
                    #tag
                        h1 联系我们
                        p Contact
                    p.desc 我们致力于为客户提供世界一流的软件方案和服务
                    #info
                        p 电话：#{tel}
                        p 邮箱：
                            a(href="mailto:#{email}", target="_blank") #{email}
                        p 网站：
                            a(href="http://#{website}", target="_blank") #{website}
                        p 地址：上海市静安区万航渡路789号金峰世纪大厦12楼 邮编：200042
            //-footer
            #footer.area
                p 沪ICP备11047818号-1 Copyright © 2007-2015 Ehomesoft.com 版权所有