//param
//color
green = #2cd367
black = #30303a

//area
.area
  width 100%
  min-width 980px
  \*min-width 100%
  text-align center
  position relative

  .inner
    width 980px
    height 100%
    margin 0 auto
    text-align center
    position relative

//header
#header
  height 495px
  background black url(image/header.jpg) center top no-repeat

//guide
#guide
  height 54px
  line-height @height
  position fixed
  background-color rgba(black, 0.8)
  z-index 5

  .r
    a
      color #fff
      font-size 16px
      margin-left 8px
      text-shadow 0 0 2px rgba(#000, 0.2)
      height 54px
      line-height @height
      display block
      float left
      padding 0 16px

      &:hover
        background-color green - 20%
        color #fff

#logo
  display block
  width 124px
  height 33px
  background url(image/sprite.png) -60px -7px
  margin-top 9.5px

#tel
  color #2bc461
  font-size 16px
  display block
  width 240px
  height 16px
  line-height @height
  position absolute
  left 370px
  top 340px

//area-desc
#area-desc
  height 600px

  .bg
    position absolute
    display block
    width 100%
    height 232px
    left 0
    bottom 0
    background url(image/bg-green.png) center center repeat

    div
      width 1028px
      height 329px
      background url(image/bg-desc.png) center top no-repeat
      margin -97px auto 0

  .inner
    padding-top 48px

  .icon-down
    margin 0 auto 32px

  .title
    margin 0 auto 24px

  .border
    margin 0 auto 16px

  .desc
    width 800px
    font-size 14px
    line-height 1.6
    margin 0 auto

    &:first-letter
      margin-left 2em

//area-sp
#area-sp
  height 750px
  background url(image/bg-sp.png) center 197px no-repeat

  .inner
    padding-top 72px

  .title
    margin 0 auto 16px

  .border
    margin 0 auto 20px

  .hint
    margin 0 auto
    font-size 16px
    line-height @font-size
    color black

  .icon-down
    margin 520px auto 0

//area-adv
#advantage
  height 719px
  background #f1f1f0 url(image/bg-adv.jpg) center top no-repeat

  .inner
    padding-top 60px

  .title
    margin 0 auto 12px

  .hint
    margin 0 auto 18px

  .border
    margin 0 auto 27px

  .item
    display block
    height 150px
    margin 0 auto 33px
    position relative

    &.f
      margin-bottom 36px

    .a
      display block
      position absolute
      color #fff
      width 120px
      height 37px
      line-height @height
      font-size 18px
      right 45px
      top 56px

    .b
      font-size 14px
      color #999
      line-height 1.6
      display block
      position absolute
      width 380px
      left 380px
      top 45px
      text-align left

      &:first-letter
        margin-left 2em

//area-tech
#special
  height 725px
  background #fff url(image/bg-tech.jpg) center 180px no-repeat

  .inner
    padding-top 60px

  .title
    margin 0 auto 12px

  .hint
    margin 0 auto 18px

  .icon-down
    margin 500px auto 0

//area-pro
#project
  height 690px

  .bg
    position absolute
    display block
    width 100%
    height 245px
    left 0
    bottom 0
    background url(image/bg-green.png) center center repeat

    div
      width 880px
      height 554px
      background url(image/bg-pro.png) center top no-repeat
      margin -308px auto 0

  .inner
    padding-top 60px

  .title
    margin 0 auto 8px

  .hint
    margin 0 auto 12px

  .border
    margin 0 auto

//detail
#area-detail
  height 850px
  background url(image/bg-black.png) center center repeat

  .inner
    padding-top 56px
    width 984px

  .item
    width 300px
    height 333px
    background-color #fff
    display block
    float left
    margin 0 auto 48px
    position relative

  .logo
    display block
    width 300px
    height 90px
    background url(image/logo.png)

  .content
    font-size 14px
    line-height 1.6
    color #999
    padding 0 28px
    margin 8px auto 0
    text-align left

    &:first-letter
      margin-left 2em

  .icon-hint
    display block
    position absolute
    right 0
    bottom 0

  #item-b, #item-e
    margin 0 42px auto
#item-a
  .logo
    background-position 0 -450px
#item-b
  .logo
    background-position 0 -360px
#item-c
  .logo
    background-position 0 -270px
#item-d
  .logo
    background-position 0 -180px
#item-e
  .logo
    background-position 0 -90px
#item-f
  .logo
    background-position 0 0
//area-contact
#contact
  height 358px
  background #eee url(image/bg-contact.jpg) center top no-repeat

  .desc
    font-size 16px
    line-height @font-size
    color green
    margin 0 auto 40px
#tag
  display block
  width 128px
  height 138px
  background-color green
  color #fff
  padding-top 64px
  margin 0 auto 20px

  h1
    font-size 24px
    line-height @font-size
    margin 0 auto 12px

  p
    font-size 14px
    line-height @font-size

#info
  color #333
  line-height 2
  font-size 12px

  a
    color #111
    &:hover
      color #555

//footer
#footer
  height 60px
  background-color #2c2c35
  color #50505b
  font-size 12px
  line-height @height
//class

//title
.title
  color green
  font-size 28px
  font-weight bold
  line-height 1

.hint
  font-size 14px
  line-height @font-size
  color green

//border
.border
  display block
  width 259px
  height 3px
  background url(image/sprite.png)

//icon-down
.icon-down
  display block
  width 36px
  height @width
  background url(image/sprite.png) 0 -7px

//icon-hint
.icon-hint
  display block
  width 63px
  height @width
  background url(image/sprite.png) right bottom