//reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  margin 0 auto
  padding 0
  outline 0
  border 0
  vertical-align baseline
  font-weight inherit
  font-style inherit
  font-size 100%
  font-family inherit
  \*zoom 1

strong
  font-weight bold

pre
  white-space pre-wrap
  word-break break-all

input:focus, textarea:focus
  outline 0

table
  border-spacing 0
  border-collapse separate

caption, th, td
  text-align left
  font-weight normal

a img, iframe
  border none

ol, ul
  list-style none

input, textarea, select, button
  background-color #fff
  font-size 100%
  font-family inherit

select
  margin inherit

ol
  margin-left 2em

.clearfix:after
  display block
  visibility hidden
  clear both
  height 0
  content '.'

.clearfix
  display inline-block
  margin 0
  padding 0
  height 0
  line-height 0
  zoom 1
  \*line-height normal

.clearfix
  display block
  clear both
  _display none