//rule
if import != false
  @import '../rule'

//block
.block
  position relative
  overflow visible
  margin 0 auto 16px
  padding 0
  width 100%
  border 1px solid #fff
  background-color #fff
  box-shadow 0 1px 2px rgba(#000, 0.2)
  box-shadow unquote('none\9')
  \*zoom 1

  .mainer
    padding 16px
    text-align left

.divider
  height 1px
  border-top 1px dashed #eee
  margin 8px auto