//-basic
meta(content="IE=edge", http-equiv="X-UA-Compatible")
meta(name="renderer", content="webkit")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
//-copyright
meta(name="copyright", content="Copyright (c) 英宏科技")
//-author
meta(name="author", content="Mimiko, 2015.4.1")
//-keywords
meta(name="keywords", content="云制衣 英宏科技")
//-desc
meta(name="description", content="云制衣，为中小型制衣企业提供更易用更经济的ERP解决方案。")