//-link
- var link = {};
//-jquery
- link.jquery = 'source/script/jquery-2.1.3.min.js';
//-prepare
- link.prepare = 'source/script/prepare.min.js';
//-core
- link.core = 'source/script/core.min.js';
//-ready
- link.ready = 'source/script/ready.min.js';

//-output
//-jquery
script(src="#{link.jquery}")
//-prepare
script(src="#{link.prepare}")
//-core
script(src="#{link.core}")
//-ready
script(src="#{link.ready}")